/* General Styles */

* {
    margin: 0;
    padding: 0;
}

html {
    overflow: hidden;
}

body {
    position: fixed; /* Prevents scrolling of content in IE. */
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: Window;
    color: WindowText;
    font: message-box; /* use system font */
    font-size: 70% !important; /* This overrides the font-size contained in the system font if it does not follow dpi settings. */
    cursor: default;
    user-select: none;
}

[unselectable=on] {
    user-select: none;
}

input,
label,
select {
    cursor: pointer;
    min-height: 1.2em;
    vertical-align: middle;
    font: message-box; /* use system font */
    font-size: inherit;
}

textarea {
    font: message-box; /* use system font */
    font-size: inherit;
}

input[type=button] {
    min-height: 1em;
    padding: 0;
}

input[type=text],
input[type=number] {
    cursor: auto;
}

/* Numeric input element */
input[type=text].num,
input[type=number] {
    text-align: right;
    width: 2.5em;
    padding-right: .5em;
}

table {
  font-size: inherit; /* This overrides browser style. */
}

/*button {
    font: message-box;
    font-size: 100% !important;
    color: ButtonText;
    padding: 0.125em 0.25em;
    line-height: 1.2em;
    vertical-align: middle;
}*/
button {
    font: message-box; /* use system font */
    font-size: 100% !important; /* This overrides the font-size contained in the system font if it does not follow dpi settings. */
    color: ButtonText;
    vertical-align: middle;
}

form {
    padding: 1em;
}

fieldset {
    text-indent: 0 !important;
    margin-bottom: 1em;
    margin-right: 0 !important;
    padding: 1em;
    padding-top: 0 !important;
}

fieldset div {
    clear: both;
    line-height: 2em;
}

fieldset div > :first-child {
    width: 100%;
}



/* editable text */

input.editable,
textarea.editable {
    width: 100%;
    font: inherit;
    height: 1.25em;
    min-height: 1.25em;
    line-height: 1.25em;
    margin: 0;
    overflow-y: auto;
    resize: vertical; /* not supported in IE<=11 */
    color: inherit; /* Inherit text color when parent element (tr) is selected */
}



/* AttributeInspector UI elements */


/* Align contained block elements vertically in the middle of their parent. */
.vertical-centered-parent {
    display: table;
    height: inherit;
}
.vertical-centered-parent > *,
.vertical-centered {
    display: table-cell;
    vertical-align: middle;
}

/* Additional styles for top and bottom toolbar */
.toolbar.vertical-centered-parent {
    border-spacing: 0.5em 0;
}

/* Additional styles for top toolbar */
.horizontal-flex-parent .toolbar.right {
    text-align: right;
    width: 100%;
}
